@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Comfortaa:wght@300&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Comfortaa:wght@300&family=Raleway:wght@100&family=Source+Code+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}
.container{
    width: auto;
    height: 100%;
    display: flex;
    background: linear-gradient( to right, #1c242c 50%, #586777 50%);
}
.header{
    box-sizing: border-box;
    padding: 3em;
    height: auto;
    background-color: white;
}
@media all and (min-width:1167px){
    .header{
        
        padding-right: 10%;
        padding-left: 10%;
    }
}
.title-div{
    margin: 0em 2em;
}
.title-div h2{
    font-size: 2.5em;
}
.title-div span{
    color: rgb(185, 94, 197);
    font-size: 1.5em;
}
.title-div p{
    margin-top: 0.6em;
    font-size: 0.9em;
}




.title{
    color: white;
    font-family: Open Sans, sans-serif;
}

.devs{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.devs-name{
    width: 50%;
    margin-left: 1em;
}

.devs-class{
    width: 50%;
}