@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    
}
.title-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 0;
    width: auto;
    background: linear-gradient(135deg, #c7c7c7, #585858);
    border-bottom: rgb(255, 255, 255) 1px solid;
}
.title{
    color: white;
    font-family: Open Sans, sans-serif;
}

.devs{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.devs-name{
    width: 50%;
    margin-left: 1em;
}

.devs-class{
    width: 50%;
}